.document-metadata-full {
  position: relative;
  float: left;
  width: 83.333%;
  min-height: 1px;
  padding: 0 15px;
}

.blacklight-desc_metadata__identifier_tesim {
  word-wrap: break-word;
}

#survey {
  width: auto;
}

@media (max-width: 480px) {
  #survey {
    width: 100%;
  }
}
